.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/*ensure comment item width is 100% instead of sizing down*/
.MuiTypography-body2 {
  width: 100%;
}

blockquote {
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* bypass pointer only on full element */
.MuiButtonBase-root {
  user-select: text!important;
  cursor: auto!important;
}

.MuiSvgIcon-root {
  cursor: pointer;
}

/* set proper padding between comments */
.MuiExpansionPanelDetails-root {
  padding: 0px 5px 15px 24px!important;
}

/* .MuiExpansionPanelSummary-root {
  padding: 0px 5px 15px 24px!important;
} */


.postSubreddit {
  color: grey;
}

.posts {
  padding: 1rem 10rem;
}

.postTitleURL:link {
  text-decoration: none;
  font-size: 1.3rem;
}


.postTitleURL:hover {
  cursor: pointer;
  text-decoration: underline;

}

@media only screen and (max-width: 768px) {
  .posts {
    padding: 10px 10px;
  }
}

.loader {
  margin-top: .5rem;
}



.loadingComments {
  text-align: center;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-weight: 300;

}
.expandComments {
  appearance: none;
  background-color: #FAFBFC;
  border: .5px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 12px;
  font-weight: 300;
  line-height: 10px;
  list-style: none;
  padding: 3px 10px;
  text-align: center;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.expandComments:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.expandComments:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.expandComments:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.expandComments:focus {
  outline: 1px transparent;
}

.expandComments:before {
  display: none;
}

.expandComments:-webkit-details-marker {
  display: none;
}

.grid-root {
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";

}

/* animate logo */
@import url('https://fonts.googleapis.com/css?family=Roboto:700');
@keyframes showTopText {
  0% { transform: translate3d(0, 100%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}
@keyframes showBottomText {
  0% { transform: translate3d(0, -100%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}

.animated-title {
  color: rgb(0, 0, 0);
  font-family: Roboto, Arial, sans-serif;
  height: 80px;
  left: 215px;
  position: absolute;
  top: 24px;
  transform: translate(-50%, -50%);
  width: 300px;
}

.animated-title > div {
  height: 100%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}
.animated-title > div div {
  font-size: 37px;
  padding: 10px;
  position: absolute;
}
.animated-title > div div span {
  display: block;
}
.animated-title > div.text-top {
  /* border-bottom: 1vmin solid #000; */
  top: 0;
}
.animated-title > div.text-top div {
  animation: showTopText 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  bottom: 0;
  transform: translate(0, 100%);
}
.animated-title > div.text-top div span:first-child {
  color: white;
}
.animated-title > div.text-bottom {
  bottom: 0;
}
.animated-title > div.text-bottom div {
  animation: showBottomText 2s;
  font-size: 10px;
  color: white;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
  top: 54px;
  left: 85px;
  bottom: -40px;
  transform: translate(0, -100%);
}

.postThumbnail {
  max-width: 140px;
  border-radius: 5px;
}

.domainText {
  font-size: 12px;
}

.commentData {
  display: flex;
}

.subredditText {
  color: #0000EE;
  font-size: 12px;
}
.subredditText:hover {
  cursor: pointer;
  text-decoration: underline;
}

.createdText {
  font-size: 12px;
  font-style: italic;
  margin-left: 5px;
}

.authorText {
  color: #A55858;
  font-size: 12px;
  margin-right: 10px;
}

.numComments {
  color: #808080;
  font-size: 12px;
}

.numComments:hover {
  cursor: pointer;
  text-decoration: underline;
}


.returnToTop {
  font-size: 6px;
}

.toTopOfSub {
  font-size: 16px;
  text-align: center;
}

.MuiSnackbarContent-message {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.commentText {
  font-size: 12px;
}


/* breakpoint modifications */
@media only screen and (max-width: 600px) {
  .animated-title {
    color: rgb(0, 0, 0);
    font-family: Roboto, Arial, sans-serif;
    height: 80px;
    left: 207px;
    position: absolute;
    top: 18px;
    transform: translate(-50%, -50%);
    width: 300px;
  }
  .animated-title > div div {
    font-size: 32px;
    padding: 10px;
    position: absolute;
  }

  .animated-title > div.text-bottom div {
    animation: showBottomText 2.5s;
    font-size: 8px;
    color: white;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
    top: 53px;
    left: 85px;
    bottom: -40px;
    transform: translate(0, -100%);
  }

  .postThumbnail {
    max-width: 100px;
  }

  .postTitleURL:link {
    font-size: 1.1rem;
  }

  .posts {
    padding: 0rem 0rem;
  }

  .domainText {
    font-size: 11px;
    inline-size: 100px;
    overflow-wrap: break-word;
  }

  .commentData {
    /* display: inline; */
  }

  .subredditText {
    font-size: 11px;
  }

  .createdText {
    font-size: 11px;
  }

  .authorText {
    font-size: 11px;
  }

  .numComments {
    font-size: 11px;
  }

}

/* temp fix for panel sizing during breakpoints */
@media only screen and (max-width: 1280px) {
  .posts {
    padding: 1rem 5rem;
  }
}


@media only screen and (max-width: 1115px) {
  .posts {
    padding: 1rem 1rem;
  }
}


@media only screen and (max-width: 417) {

}
